@charset "UTF-8";

/*
    Paleta de cores
    Verde: #49a09d
    Lil치s: #5f2c82
*/

:root {
    --Lil치s:#5f2c82;
    --Verde:#49a09d;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box  ;
}

body, html {
    background-color: var(--Lil치s);
    height: 100vh;
    width: 100vw;
}

main {
    height: 100vh;
    width: 100vw;
}

#login {
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);
}

#login > #imagem {
    background: var(--Lil치s) url(../imagens/metal.jpg) no-repeat;
    background-size: cover;
    height: 200px;
    background-position: left bottom;
    display: block;
}

#login > #formulario {
    display: block;
    padding: 10px;
}